body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #f4f4f4;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar-btn:hover {
    background-color: #0056b3;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.content-section {
    display: none;
}

#mi-cuenta-content {
    display: block;
}

form label {
    display: inline-block;
    width: 100px;
}

form input[type="text"] {
    width: 200px;
    padding: 5px;
    margin: 5px 0;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}