body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #f4f4f4;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-btn {
    background-color: transparent;  
    color: black;  
    border: none;
    padding: 20px;  
    margin: 10px 0; 
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px; 
}

.sidebar-btn:hover {
    background-color: #ddd;  
    color: black;  
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-section {
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mi-cuenta-content {
    display: block;
}

.section {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form label {
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #000; 
    background: transparent;
    outline: none;
}

form input[type="text"]::placeholder,
form input[type="password"]::placeholder {
    color: #999;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}