#productos-body {
    margin-top: 67px;
}

.page-container {
    background-color: #ececec;
    overflow-x: hidden;
}

.card {
    height: 20vh !important;
    width: 65%;
    padding: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card {
    display: flex;
    flex-direction: row;
}

.product-card .img_cont {
    max-height: 100%;
}

.card-img {
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
    background-color: #f8f9fa;
    margin-block: auto;
}

.titulo_prod {
    text-decoration: none;
    width: auto;
    color: black;
    font-size: 1.2rem;
    transition: 0.2s;
}

.titulo_prod:hover {
    color: rgb(25, 98, 4);
    transition: 0.1s;
}

.precio_prod {
    font-size: 1.2rem;
    color: rgb(0, 80, 154);
}

.data_prod {
    height: 100%;
}

#content-wrapper {
    margin-top: 18px;
    width: 250px;
    height: 100%;
    padding-bottom: 70px;
}

#sidebar-wrapper {
    background-color: white;
    box-shadow: #cdcdcd 0px 0px 10px 0px;
    height: 60% !important;
    width: 250px !important;
    margin: 20px;
    margin-left: 20%;
    padding-bottom: 45px;
}

.sidebar-heading {
    font-size: larger;
    color: #000000;

}

.list-group-item {
    padding-block: 12px !important;
    padding-left: 30px !important;
    color: rgb(51, 51, 51) !important;
    border: none !important;
    font-size: 1.1rem;

}

.list-group-item:hover {
    background-color: #dfdfdf !important;
    transition: 0.1s;
}

#agregar_car {
    max-width: 200px;
}

.cart-button-products {
    bottom: 10%;
    right: 15%;
}

.cart-button-products i {
    font-size: 1.5rem !important;
}