<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="product-container">
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var productName = window.location.pathname.split('/').pop();

            fetch(`/productos/nombre/${productName}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.body.innerHTML = `<p>${data.error}</p>`;
                    } else {
                        var products = data.productos
                        let container = document.querySelector('.product-container');
                        for (const prod of products) {
                            let nombre = document.createElement('h1');
                            let tipo = document.createElement('p');
                            let precio = document.createElement('p');
                            let descripcion = document.createElement('p');
                            let imagen = document.createElement('img');
                            nombre.innerText = prod.nombre;
                            tipo.innerText = `Tipo: ${prod.tipo}`;
                            precio.innerText = `Precio: ${prod.precio}`;
                            descripcion.innerText = `Descripción: ${prod.descripcion}`;
                            imagen.src = prod.imagen;
                            console.log(prod);
                            container.appendChild(nombre)
                            container.appendChild(tipo)
                            container.appendChild(precio)
                            container.appendChild(descripcion)
                            container.appendChild(imagen)
                        }
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>

</html>