<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="product-container">
        <h1 id="product-name"></h1>
        <p id="product-type"></p>
        <p id="product-price"></p>
        <p id="product-stock"></p>
        <p id="product-description"></p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var productName = window.location.pathname.split('/').pop();

            fetch(`/productos/nombre/${productName}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.body.innerHTML = `<p>${data.error}</p>`;
                    } else {
                        var product = data.productos[0]; 
                        document.getElementById('product-name').innerText = product.nombre;
                        document.getElementById('product-type').innerText = `Tipo: ${product.tipo}`;
                        document.getElementById('product-price').innerText = `Precio: ${product.precio}`;
                        document.getElementById('product-stock').innerText = `Stock: ${product.stock}`;
                        document.getElementById('product-description').innerText = `Descripción: ${product.descripcion}`;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>
</html>